{% extends "base.html" %}

{% block content %}
<div class="container">

  <form class="form-signin" method="post">
    <!-- <h2 class="form-signin-heading">Login</h2> -->

    
    <label for="username">Username</label>


    <input type="text" class="form-control" name="username" placeholder="enter username" value="{{username}}" required="autofocus">
    

    
    <label>Password</label>


    <input type="password" class="form-control" name="password" placeholder="enter password" value="">
    

    <div class="error">
      {{error}}
    </div>

    <button type="submit" class="btn btn-secondary" id="signInButton">Sign in</button>
  </form>
</div>

{% endblock %}
