{% extends "base.html" %}

{% block content %}
<h2>New Comment Page</h2>
<form method="post" class="comment">
    <div><h4>Subject: </h4><a href="/blog/{{postkey.id()}}">{{subject}}</a></div>
    <div>
      <h4>Content:</h4>
      <p>{{content}}</p>
    </div>
    
    <label>
        <textarea name="comment" placeholder="Enter comment here.">{{comment}}</textarea>
        <input type="hidden" name="author" value="{{user.name}}">
    </label>

    <div class="error">{{error}}</div>

    <input type="submit">
    <a class="btn btn-danger btn-sm" type="button" href="/blog">Cancel</a>
</form>
{% endblock %}