{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
<h2 style="color:#0275d8; font-weight: lighter">New Comment Page</h2>
</div>
<div class="row">
<form method="post" class="comment">
    <div id="commentSubject"><h4 style="font-weight:lighter; display: inline-block;">Subject: <a style="font-style: italic; font-weight:lighter; color:gray;" href="/blog/{{postkey.id()}}">{{subject}}</a></h4></div>
    <div id="commentContent">
      <h4 style="font-weight:lighter">Content: <p style="font-style: italic; font-weight: lighter; color: gray; margin-top: 10px">{{content}}</p></h4>
      
    </div>
    
    <label>
        <textarea rows="4" name="comment" placeholder="Enter comment here.">{{comment}}</textarea>
        <input type="hidden" name="author" value="{{user.name}}">
    </label>

    <div class="error">{{error}}</div>

    <button type="submit" class="btn btn-secondary mb-2">Submit</button>
    <button class="btn btn-secondary mb-2" type="button" href="/blog">Cancel</button>
</form>
</div>
{% endblock %}
</div>